@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Roboto, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

#input {
    background-color: rgb(34, 37, 42);
}

#preview {
    background-color: rgb(41, 44, 51);
    padding: 1rem;
}

#statusbar {
    background-color: rgb(19, 20, 21);
    grid-column: 1 / 3;
    padding: 2rem;
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #statusbar {
        grid-column: 1 / 2;
    }
}

textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Roboto Mono', monospace;
    padding: 1rem;
    background-color: inherit;
    color: inherit;
    resize: none;
    outline: none;
}